  <nav id="navbar">
  <div id="nav-container">
    <div id="nav-search">
      <% if current_user && current_user.role == 'Admin' %>
        <%= form_tag(users_path, method: :get) do %>
          <%= text_field_tag :search, params[:search], placeholder: 'Search Volunteers' %>
          <%= submit_tag 'Search', name: nil %>
        <% end %> 
      <% end %>
        
      <% if current_user %>
        <ul id="UL_16">
          <li><%= link_to 'Home', root_path %></li>
          <li><%= link_to 'Volunteer Roster', users_path %></li>
          <li><%= link_to 'Profile Page', user_path(current_user.id) %></li>
          <li><%= link_to 'Edit Profile', edit_user_path(current_user.id) %></li>
          <li><%= link_to 'Events & Sign Up', events_path %></li>
          <li><%= link_to 'Logout', session_path(session[:id]), method: :delete %></li>
        </ul>  
      <% else %>
        <ul id="UL_16">
          <li><%= link_to 'Home', root_path %></li>
          <li><%= link_to 'Login', new_session_path %></li>
          <li><%= link_to 'Create Account', new_user_path %></li>
        </ul>    
      <% end %>
  </div>
</nav> 