<div class="apt-show">
	<h1>Event Details</h1>
	<p>
		<label>Event:</label><br>
		<%= @event.event_type %>
	</p>

	<p>
		<label>Instructions:</label><br>
		<%= @event.description %>
	</p>

	<p>
		<label>Date:</label><br>
		<%= @event.date %>
	</p>

	<p>
		<label>Time:</label><br>
		<%= @event.time %>
	</p>

	<%= form_for @event do |f| %>
		
		<p class="btn">
			<% if @event.needed_volunteers > 0 && @event.users.include?(current_user) == false %>
				<%= f.submit 'Volunteer', data: { confirm: 'Are you sure you want to sign up for this event?'} %>
				
			<% end %>
		</p>	
	<% end %>

	<%= link_to 'Profile Page', user_path(current_user) %>

</div>	