<div class="apt-show">
	<h1>Event Details</h1>
	<p>
		<label>Event:</label><br>
		<%= @event.event_type %>
	</p>

	<p>
		<label>Instructions:</label><br>
		<%= @event.description %>
	</p>

	<p>
		<label>Date:</label><br>
		<%= @event.date %>
	</p>

	<p>
		<label>Time:</label><br>
		<%= @event.time %>
	</p>

	<%= form_for @event do |f| %>
		
		<p class="btn">
			<% if @event.needed_volunteers > 0 && @event.users.include?(current_user) == false %>
				<%= f.submit 'Volunteer', data: { confirm: 'Are you sure you want to sign up for this event?'} %>
				
			<% end %>
		</p>	
	<% end %>
	
	<div class="event_item">
		<% if current_user.role == 'Admin' %>
			<h1>Volunteers For This Event</h1>
			<% @event.users.each do |user| %>
				<li> <%= link_to "Remove #{user.first_name} #{user.last_name} from this event?", events_wake_path(event: @event.id, user: user.id), data: { confirm: 'Are you sure you want to remove this volunteer from this event?'} %> </li>
				
			<% end %>
			
		<% end %>
	</div>	
	<p class="sign-in">
		<%= link_to 'My Profile Page', user_path(current_user) %>
	</p>	
</div>	